In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
reports_2000 = pd.read_csv("../data/neiss2000.csv", encoding='latin-1')
terms_2000 = pd.read_csv("../data/neiss2000fmt.csv", encoding='latin-1')

In [3]:
reports_2000 = reports_2000[['CPSC_Case_Number','Treatment_Date','Age','Sex','Location','Fire_Involvement','Product_1','Product_2']]

##### Create csvs to merge

In [4]:
# csv_age = terms_2000[terms_2000['Format name'] == 'AGELTTWO']
# csv_alc = terms_2000[terms_2000['Format name'] == 'ALC_DRUG']
# csv_body = terms_2000[terms_2000['Format name'] == 'BDYPT']
# csv_fire = terms_2000[terms_2000['Format name'] == 'FIRE']
# csv_gend = terms_2000[terms_2000['Format name'] == 'GENDER']
# csv_loc = terms_2000[terms_2000['Format name'] == 'LOC']
# csv_prod = terms_2000[terms_2000['Format name'] == 'PROD']

# csv_age.to_csv('../data/2000age.csv', index=False, sep=',')
# csv_body.to_csv('../data/2000body.csv', index=False, sep=',')
# csv_fire.to_csv('../data/2000fire.csv', index=False, sep=',')
# csv_gend.to_csv('../data/2000gend.csv', index=False, sep=',')
# csv_loc.to_csv('../data/2000loc.csv', index=False, sep=',')
# csv_prod.to_csv('../data/2000prod.csv', index=False, sep=',')

In [5]:
prod_2000 = pd.read_csv("../data/2000prod.csv")
loc_2000 = pd.read_csv("../data/2000loc.csv")
gend_2000 = pd.read_csv("../data/2000gend.csv")
fire_2000 = pd.read_csv("../data/2000fire.csv")
body_2000 = pd.read_csv("../data/2000body.csv")
age_2000 = pd.read_csv("../data/2000age.csv", skiprows=2)

In [6]:
reports_2000 = pd.merge(reports_2000,prod_2000, left_on='Product_1', right_on='Starting value for format', how='left')

In [7]:
reports_2000 = reports_2000[['CPSC_Case_Number','Treatment_Date','Age','Sex','Location','Fire_Involvement','Product_1','Product_2', 'Format value label']]

In [8]:
reports_2000 = pd.merge(reports_2000,prod_2000, left_on='Product_2', right_on='Starting value for format', how='left')

In [10]:
reports_2000 = reports_2000[['CPSC_Case_Number','Treatment_Date','Age','Sex','Location','Fire_Involvement', 'Format value label_x', 'Format value label_y']]

In [11]:
reports_2000.columns = ['case', 'date', 'age', 'sex', 'location', 'fire_inv', 'prod_1', 'prod_2']

In [12]:
reports_2000 = pd.merge(reports_2000,loc_2000, left_on='location', right_on='Starting value for format', how='left')

In [13]:
reports_2000 = reports_2000[['case','date','age','sex','Format value label','fire_inv','prod_1','prod_2']]
reports_2000.columns = ['case', 'date', 'age', 'sex', 'location', 'fire_inv', 'prod_1', 'prod_2']

In [14]:
reports_2000 = pd.merge(reports_2000,gend_2000, left_on='sex', right_on='Starting value for format', how='left')

In [15]:
reports_2000 = reports_2000[['case','date','age','Format value label','location','fire_inv','prod_1','prod_2']]
reports_2000.columns = ['case', 'date', 'age', 'sex', 'location', 'fire_inv', 'prod_1', 'prod_2']

In [16]:
reports_2000 = pd.merge(reports_2000,fire_2000, left_on='fire_inv', right_on='Starting value for format', how='left')

In [17]:
reports_2000 = reports_2000[['case','date','age','sex','location','Format value label','prod_1','prod_2']]
reports_2000.columns = ['case', 'date', 'age', 'sex', 'location', 'fire_inv', 'prod_1', 'prod_2']

In [18]:
reports_2000['age'] = np.where(reports_2000['age'].between(201,211), 0, reports_2000['age'])
reports_2000['age'] = np.where(reports_2000['age'].between(212,223), 1, reports_2000['age'])

In [19]:
reports_2000

,case,date,age,sex,location,fire_inv,prod_1,prod_2
0,101654,1/1/2000,65,MALE,HOME,NO/?,1403 - OTHER UNPOWERED GARDEN TOOLS,NaN
1,101655,1/1/2000,48,FEMALE,HOME,NO/?,"694 - BEDS, NOT SPECIFIED","4057 - TABLES (EXCL. BABY CHANGING TABLES, BI..."
2,101656,1/1/2000,11,MALE,HOME,NO/?,"1237 - GAS, AIR OR SPRING-OPERATED GUNS",NaN
3,101657,1/2/2000,17,MALE,SCHOOL,NO/?,"1270 - WRESTLING (ACTIVITY, APPAREL OR EQUIPMENT)",NaN
4,101678,1/1/2000,42,MALE,UNK,NO/?,611 - BATHTUBS OR SHOWERS,NaN
...,...,...,...,...,...,...,...,...
339239,10500300,11/12/2000,30,MALE,HOME,NO/?,1842 - STAIRS OR STEPS,NaN
339240,10500306,11/14/2000,75,MALE,STREET,NO/?,"5040 - BICYCLES AND ACCESSORIES, (EXCL.MOUNTAI...",NaN
339241,10500320,11/10/2000,46,FEMALE,HOME,NO/?,1807 - FLOORS OR FLOORING MATERIALS,NaN
339242,10500329,11/27/2000,1,FEMALE,HOME,NO/?,"4056 - CABINETS, RACKS, ROOM DIVIDERS AND SHEL...",NaN
339243,10520637,3/28/2000,25,MALE,UNK,NO/?,"1849 - DOORS, NOT SPECIFIED",NaN

In [20]:
reports_2000.to_csv('../data/neiss2000readable.csv', index=False, sep=',')