In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data_2014 = pd.read_csv("../data/neiss2014readable.csv")
data_2019 = pd.read_csv("../data/neiss2019readable.csv")

In [3]:
data_2014.head()

,case,date,age,sex,location,fire_inv,alc_inv,drug_inv,Narrative,prod_1,prod_2,prod_3
0,140103999,1/1/2014,32,MALE,UNK,NO/?,NaN,NaN,32 YOM CO PAIN IN THE CHEST AFTER FALLING WHIL...,"1211 - FOOTBALL (ACTIVITY, APPAREL OR EQUIPMENT)",NaN,NaN
1,140104001,1/1/2014,18,MALE,HOME,NO FD,NaN,NaN,18 YOM BURNED LT HAND WHILE POURING GASOLINE O...,910 - GASOLINE,NaN,NaN
2,140104003,1/1/2014,31,FEMALE,HOME,NO/?,NaN,NaN,31 YOF STATES SHE FELL THROUGH THE BATHROOM FL...,1807 - FLOORS OR FLOORING MATERIALS,NaN,NaN
3,140104670,1/1/2014,53,FEMALE,HOME,NO/?,NaN,NaN,"53YOF WASHING DISHES AT HOME, A GLASS BROKE AN...",478 - DRINKING GLASSES,NaN,NaN
4,140104672,1/1/2014,23,MALE,SPORTS,NO/?,NaN,NaN,"23YOM RIDING AN ATV, ROLLED OVER, HURT SHOULDE...",3286 - ALL TERRAIN VEHICLES (FOUR WHEELS/OFF R...,NaN,NaN

In [34]:
count2014 = data_2014.groupby("prod_1").size()
count2019 = data_2019.groupby("prod_1").size()

In [35]:
count2014 = pd.DataFrame(count2014)
count2019 = pd.DataFrame(count2019)

In [36]:
count2014.reset_index(inplace=True)
count2019.reset_index(inplace=True)

In [37]:
count2014.columns = ['product','count_2014']
count2019.columns = ['product','count_2019']

In [38]:
comb_count = count2014.merge(count2019, on='product')

In [40]:
comb_count['increase'] = comb_count['count_2019'] / comb_count['count_2014']

In [42]:
comb_count.sort_values(by='increase', ascending=False)

,product,count_2014,count_2019,increase
420,"372 - BRICK, STONE OR MASONRY CHIMNEYS",1,14,14.000000
543,"5042 - SCOOTERS / SKATEBOARDS, POWERED",151,1511,10.006623
665,883 - BATTERY CHARGERS/ADAPTERS,7,65,9.285714
408,3296 - ALL TERR. VEH. (MORE THAN 4 WHEELS; EXC...,1,7,7.000000
290,1888 - WINDOW OR DOOR SECURITY BARRIERS,3,15,5.000000
...,...,...,...,...
144,1431 - GRASS AND LEAF CATCHERS (ATTACHMENTS FO...,4,1,0.250000
487,416 - CORKSCREWS,5,1,0.200000
718,968 - CAUSTICS,6,1,0.166667
621,713 - FIRE SPRINKLERS,6,1,0.166667
571,575 - COMPACT DISCS (CDS) AND DVDS,27,4,0.148148

In [44]:
comb_count.to_csv('../data/increase.csv', index=False)