In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [29]:
data_2000 = pd.read_csv("../data/neiss2000readable.csv")
data_2019 = pd.read_csv("../data/neiss2019readable.csv")
pop2000 = pd.read_csv("../data/2000pop.csv")
pop2019 = pd.read_csv("../data/2019pop.csv")

In [30]:
pop2000 = pop2000.loc[pop2000['YEAR'] == 2000]
pop2000 = pop2000.loc[pop2000['MONTH'] == 4]

In [31]:
pop2019 = pop2019.loc[pop2019['Fact'] == "Population, Census, April 1, 2010"].reset_index(drop=True)
pop2019.head()

,Fact,Fact Note,United States,Value Note for United States
0,"Population, Census, April 1, 2010",NaN,"308,745,538",NaN

In [35]:
pop2000.head()

   YEAR  MONTH    TOT_POP
0  2000      4  281424600

In [37]:
pop2000['TOT_POP'] = pd.to_numeric(pop2000['TOT_POP'])

In [40]:
pop2019['United States'] = pop2019['United States'].str.replace(',', '').astype(float)
pop2019['United States'] = pd.to_numeric(pop2019['United States'])

In [41]:
pop_mod = pop2019['United States'] / pop2000['TOT_POP']

In [42]:
pop_mod

0    1.097081
dtype: float64

In [53]:
count2000 = len(data_2000)
count2019 = len(data_2019)
adj2000 = count2000*pop_mod

In [58]:
adj2000 = adj2000[0]
pop_mod = pop_mod[0]

In [66]:
final_comp = [count2000, count2019, adj2000, pop_mod]
final_comp = pd.DataFrame(final_comp).T
final_comp.columns = ['count2000', 'count2019', 'adj2000', 'pop_mod']
final_comp.to_csv('../data/final_comp.csv', index=False, sep=',')